#seats {
  padding: 0 70px;
  margin-top: 35px;
  margin-bottom: 50px; }
  #seats .container-fluid .row .col-md-7 .top {
    margin-bottom: 40px; }
    #seats .container-fluid .row .col-md-7 .top h1 {
      font-size: 18px;
      letter-spacing: 0.05em;
      color: #000000;
      margin-top: 0px; }
      #seats .container-fluid .row .col-md-7 .top h1:last-child {
        margin-top: 15px; }
  #seats .container-fluid .row .col-md-7 .hall {
    width: 80%; }
    #seats .container-fluid .row .col-md-7 .hall .topHall {
      height: 185px;
      width: 498px;
      display: flex;
      margin: 0 auto;
      margin-bottom: 30px;
      border-top: 1px solid #c4c4c4;
      position: relative;
      padding: 30px; }
      #seats .container-fluid .row .col-md-7 .hall .topHall::before {
        position: absolute;
        content: "";
        bottom: -30px;
        left: 0;
        width: 1px;
        height: 116%;
        background: #c4c4c4; }
      #seats .container-fluid .row .col-md-7 .hall .topHall::after {
        position: absolute;
        content: "";
        bottom: -30px;
        right: 0;
        width: 1px;
        height: 116%;
        background: #c4c4c4; }
      #seats .container-fluid .row .col-md-7 .hall .topHall ul div {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background: #d0d0d0;
        cursor: pointer;
        margin: 3px;
        vertical-align: top;
        font-size: 14px;
        line-height: 25px;
        vertical-align: top;
        text-align: center; }
        #seats .container-fluid .row .col-md-7 .hall .topHall ul div:hover {
          background: #6ad074 !important; }
      #seats .container-fluid .row .col-md-7 .hall .topHall ul:last-child {
        margin-left: auto; }
        #seats .container-fluid .row .col-md-7 .hall .topHall ul:last-child li div {
          background: #a293c1; }
    #seats .container-fluid .row .col-md-7 .hall .hallAndInfo {
      position: relative; }
      #seats .container-fluid .row .col-md-7 .hall .hallAndInfo .infoSeat {
        position: absolute;
        bottom: 47%;
        width: fit-content;
        right: -27%; }
    #seats .container-fluid .row .col-md-7 .hall .bottomHall {
      width: 620px;
      padding: 30px;
      position: relative;
      display: flex;
      margin-bottom: 60px;
      justify-content: space-between;
      border: 1px solid #c4c4c4;
      border-top: none;
      margin: 0 auto; }
      #seats .container-fluid .row .col-md-7 .hall .bottomHall::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 10%;
        height: 1px;
        background: #c4c4c4; }
      #seats .container-fluid .row .col-md-7 .hall .bottomHall::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 10%;
        height: 1px;
        background: #c4c4c4; }
      #seats .container-fluid .row .col-md-7 .hall .bottomHall .center {
        margin: 0 auto; }
        #seats .container-fluid .row .col-md-7 .hall .bottomHall .center ul {
          text-align: center; }
          #seats .container-fluid .row .col-md-7 .hall .bottomHall .center ul div {
            display: inline-block;
            width: 25px;
            height: 25px;
            background: #d0d0d0;
            border-radius: 5px;
            cursor: pointer;
            margin: 4px;
            font-size: 14px;
            line-height: 25px;
            vertical-align: top; }
            #seats .container-fluid .row .col-md-7 .hall .bottomHall .center ul div:hover {
              background: #6ad074; }
  #seats .container-fluid .row .col-md-4 .top {
    margin-top: 120px; }
    #seats .container-fluid .row .col-md-4 .top ul li {
      display: inline-block;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: #000000;
      margin-right: 15px; }
      #seats .container-fluid .row .col-md-4 .top ul li .color {
        width: 65px;
        height: 10px;
        background: #a6d4d7; }
    #seats .container-fluid .row .col-md-4 .top ul:nth-child(2) li .color {
      background: #a293c1; }
    #seats .container-fluid .row .col-md-4 .top ul:nth-child(3) li .color {
      background: #d0d0d0; }
  #seats .container-fluid .row .col-md-4 .row .col-md-12 .bottom {
    width: 260px;
    margin-top: 100px;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 4px 4px rgba(143, 143, 143, 0.25);
    padding: 20px; }
    #seats .container-fluid .row .col-md-4 .row .col-md-12 .bottom ul li {
      font-size: 15px;
      letter-spacing: 0.05em;
      color: #000000; }
    #seats .container-fluid .row .col-md-4 .row .col-md-12 .bottom a {
      display: block;
      width: 100%;
      margin-top: 15px;
      color: white;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: #ffffff;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #02a4c8;
      border-radius: 5px;
      border: none;
      box-shadow: none; }

@media only screen and (max-width: 520px) {
  #seats {
    padding: 0; }
    #seats .container-fluid .row .col-md-7 .hall {
      width: 100%; }
      #seats .container-fluid .row .col-md-7 .hall .topHall {
        height: 125px;
        width: 234px;
        padding: 10px; }
        #seats .container-fluid .row .col-md-7 .hall .topHall::after, #seats .container-fluid .row .col-md-7 .hall .topHall::before {
          height: 125%; }
        #seats .container-fluid .row .col-md-7 .hall .topHall ul div {
          width: 15px;
          height: 15px;
          line-height: 15px;
          font-size: 5px; }
      #seats .container-fluid .row .col-md-7 .hall .hallAndInfo .infoSeat {
        bottom: -35%;
        right: 59%;
        font-size: 12px; }
      #seats .container-fluid .row .col-md-7 .hall .bottomHall {
        padding: 10px;
        width: 290px;
        margin: 0 auto; }
        #seats .container-fluid .row .col-md-7 .hall .bottomHall .center ul div {
          width: 15px;
          height: 15px;
          line-height: 15px;
          margin: 2px;
          font-size: 5px; }
    #seats .container-fluid .row .col-md-4 .top {
      width: fit-content;
      margin: 0 auto;
      margin-top: 120px; }
      #seats .container-fluid .row .col-md-4 .top ul {
        margin-bottom: 0; }
        #seats .container-fluid .row .col-md-4 .top ul li {
          font-size: 10px; }
          #seats .container-fluid .row .col-md-4 .top ul li .color {
            width: 50px;
            height: 6px; }
    #seats .container-fluid .row .col-md-4 .row .col-md-12 .bottom {
      margin: 0 auto;
      margin-top: 20px; }

  .marginRightBox {
    margin-right: 10px !important; } }
@media only screen and (min-width: 520px) and (max-width: 768px) {
  #seats .container-fluid .row .col-md-7 .hall {
    width: 100%; }
    #seats .container-fluid .row .col-md-7 .hall .topHall {
      width: 262px;
      height: 125px; }
      #seats .container-fluid .row .col-md-7 .hall .topHall::after, #seats .container-fluid .row .col-md-7 .hall .topHall::before {
        height: 125%; }
      #seats .container-fluid .row .col-md-7 .hall .topHall ul div {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 7px; }
    #seats .container-fluid .row .col-md-7 .hall .hallAndInfo .infoSeat {
      bottom: -35%;
      right: 59%;
      font-size: 12px; }
    #seats .container-fluid .row .col-md-7 .hall .bottomHall {
      margin: 0 auto;
      padding: 10px;
      width: 328px; }
      #seats .container-fluid .row .col-md-7 .hall .bottomHall .center ul div {
        font-size: 7px;
        width: 18px;
        height: 18px;
        line-height: 18px;
        margin: 2px; }
  #seats .container-fluid .row .col-md-4 .top ul {
    margin-bottom: 0; }
    #seats .container-fluid .row .col-md-4 .top ul li {
      font-size: 10px; }
      #seats .container-fluid .row .col-md-4 .top ul li .color {
        width: 50px;
        height: 6px; } }
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #seats .container-fluid .row .col-md-7 .hall {
    width: 100%; }
    #seats .container-fluid .row .col-md-7 .hall .topHall {
      width: 262px;
      height: 125px; }
      #seats .container-fluid .row .col-md-7 .hall .topHall::after, #seats .container-fluid .row .col-md-7 .hall .topHall::before {
        height: 125%; }
      #seats .container-fluid .row .col-md-7 .hall .topHall ul div {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 7px; }
    #seats .container-fluid .row .col-md-7 .hall .hallAndInfo .infoSeat {
      bottom: 195px;
      right: -147px;
      font-size: 12px; }
    #seats .container-fluid .row .col-md-7 .hall .bottomHall {
      margin: 0 auto;
      padding: 10px;
      width: 328px; }
      #seats .container-fluid .row .col-md-7 .hall .bottomHall .center ul div {
        width: 18px;
        height: 18px;
        line-height: 18px;
        margin: 2px;
        font-size: 7px; }
  #seats .container-fluid .row .col-md-4 .top ul {
    margin-bottom: 0; }
    #seats .container-fluid .row .col-md-4 .top ul li {
      font-size: 10px; }
      #seats .container-fluid .row .col-md-4 .top ul li .color {
        width: 50px;
        height: 6px; }
  #seats .container-fluid .row .col-md-4 .row .col-md-12 .bottom {
    margin-top: 202px; }
    #seats .container-fluid .row .col-md-4 .row .col-md-12 .bottom ul li {
      font-size: 12px; }
    #seats .container-fluid .row .col-md-4 .row .col-md-12 .bottom a {
      height: 40px;
      line-height: 40px;
      font-size: 15px; }

  .marginRightBox {
    margin-right: 10px !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1457px) {
  .marginRightBox {
    margin-right: 29px !important; }

  #seats .container-fluid .row .col-md-7 .hall {
    width: 100%; }
    #seats .container-fluid .row .col-md-7 .hall .topHall {
      width: 343px;
      height: 125px; }
      #seats .container-fluid .row .col-md-7 .hall .topHall::after, #seats .container-fluid .row .col-md-7 .hall .topHall::before {
        height: 125%; }
      #seats .container-fluid .row .col-md-7 .hall .topHall ul div {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 10px; }
    #seats .container-fluid .row .col-md-7 .hall .hallAndInfo .infoSeat {
      font-size: 12px;
      bottom: 238px;
      right: -143px; }
    #seats .container-fluid .row .col-md-7 .hall .bottomHall {
      margin: 0 auto;
      padding: 10px;
      width: 430px; }
      #seats .container-fluid .row .col-md-7 .hall .bottomHall .center ul div {
        width: 18px;
        height: 18px;
        line-height: 18px;
        margin: 2px;
        font-size: 10px; } }
@media only screen and (min-width: 1458px) {
  .marginRightBox {
    margin-right: 50px !important; } }

/*# sourceMappingURL=seats.css.map */
