#ticketInfo {
  margin-top: 35px;
  padding: 0 50px;
  padding-bottom: 100px; }
  #ticketInfo .container-fluid .row .col-md-12 h1,
  #ticketInfo .container-fluid .row .col-md-5 h1 {
    font-size: 16px;
    letter-spacing: 0.05em;
    color: white; }
  #ticketInfo .container-fluid .row .col-md-12 .ticketTable,
  #ticketInfo .container-fluid .row .col-md-5 .ticketTable {
    margin-top: 10px; }
    #ticketInfo .container-fluid .row .col-md-12 .ticketTable h2,
    #ticketInfo .container-fluid .row .col-md-5 .ticketTable h2 {
      font-size: 18px;
      letter-spacing: 0.05em;
      color: white; }
    #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead,
    #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead {
      height: 90px;
      margin-top: 25px;
      background: white;
      text-align: center;
      width: 100%; }
      #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul,
      #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        height: 100%;
        margin-bottom: 0;
        align-items: center; }
        #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul li h1,
        #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li h1 {
          color: black;
          margin: 0; }
          #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul li h1:last-child,
          #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li h1:last-child {
            margin-top: 5px; }
        #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul li:nth-child(2),
        #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li:nth-child(2) {
          position: relative; }
          #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul li:nth-child(2)::before,
          #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li:nth-child(2)::before {
            position: absolute;
            content: "";
            width: 195px;
            height: 1px;
            background: black;
            top: 50%;
            left: -225px; }
    #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody,
    #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody {
      text-align: center;
      width: 100%;
      border: 1px solid #d6d6d6; }
      #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul,
      #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul {
        display: flex;
        padding: 0 40px;
        align-items: center;
        border-bottom: 1px solid #d6d6d6;
        margin-bottom: 0; }
        #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul li,
        #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul li {
          color: white;
          border-right: 1px solid #d6d6d6;
          height: 60px;
          line-height: 60px;
          font-size: 14px;
          width: 20%;
          text-align: left; }
          #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul li:last-child,
          #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul li:last-child {
            border-right: none;
            width: 80%;
            padding-left: 40px;
            text-align: left; }
        #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul:last-child,
        #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul:last-child {
          border-bottom: none; }
  #ticketInfo .container-fluid .row .col-md-12 .priceAndButton,
  #ticketInfo .container-fluid .row .col-md-5 .priceAndButton {
    width: 350px;
    margin-left: auto;
    text-align: center; }
    #ticketInfo .container-fluid .row .col-md-12 .priceAndButton h1,
    #ticketInfo .container-fluid .row .col-md-12 .priceAndButton label,
    #ticketInfo .container-fluid .row .col-md-12 .priceAndButton span,
    #ticketInfo .container-fluid .row .col-md-5 .priceAndButton h1,
    #ticketInfo .container-fluid .row .col-md-5 .priceAndButton label,
    #ticketInfo .container-fluid .row .col-md-5 .priceAndButton span {
      width: fit-content;
      margin: 0 auto;
      margin-top: 40px;
      font-size: 18px;
      letter-spacing: 0.03em;
      color: white;
      text-align: center; }
    #ticketInfo .container-fluid .row .col-md-12 .priceAndButton .nearLabel,
    #ticketInfo .container-fluid .row .col-md-5 .priceAndButton .nearLabel {
      cursor: pointer;
      font-size: 18px;
      margin: 0;
      display: inline-block;
      width: fit-content;
      margin: 0;
      letter-spacing: 0.03em;
      text-decoration-line: underline;
      position: relative;
      display: inline-block;
      color: white; }
      #ticketInfo .container-fluid .row .col-md-12 .priceAndButton .nearLabel::after,
      #ticketInfo .container-fluid .row .col-md-5 .priceAndButton .nearLabel::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: white;
        bottom: 0%;
        left: 0; }
    #ticketInfo .container-fluid .row .col-md-12 .priceAndButton a,
    #ticketInfo .container-fluid .row .col-md-5 .priceAndButton a {
      margin: 0 auto;
      display: block;
      width: 277px;
      margin-top: 15px;
      height: 56px;
      line-height: 56px;
      text-align: center;
      background: #02a4c8;
      border-radius: 5px;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: #ffffff; }
      #ticketInfo .container-fluid .row .col-md-12 .priceAndButton a:last-child,
      #ticketInfo .container-fluid .row .col-md-5 .priceAndButton a:last-child {
        background: #d0d0d0;
        color: #5b5b5b;
        margin-top: 40px; }
      #ticketInfo .container-fluid .row .col-md-12 .priceAndButton a:nth-child(2),
      #ticketInfo .container-fluid .row .col-md-5 .priceAndButton a:nth-child(2) {
        background: #02a4c8;
        color: #ffffff; }
  #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li:nth-child(2)::before {
    width: 39px;
    left: -45px; }
  #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul li {
    width: 40%;
    text-align: left; }
  #ticketInfo .container-fluid .row .col-md-5 .someInfo {
    background: rgba(248, 248, 248, 0.2);
    border-radius: 5px;
    padding-top: 20px;
    color: #ffffff;
    margin-top: 55px;
    width: 95%; }
    #ticketInfo .container-fluid .row .col-md-5 .someInfo h1 {
      font-size: 18px;
      margin-left: 20px; }
    #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable {
      margin-top: 15px; }
      #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .header ul {
        display: flex;
        padding: 0 20px;
        justify-content: space-between; }
        #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .header ul li {
          font-size: 18px; }
      #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body {
        color: #e4e4e4; }
        #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul {
          display: flex;
          padding: 0 20px;
          border: 1px solid #6b9099;
          border-left: none;
          border-right: none;
          margin: 0; }
          #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul li {
            height: 40px;
            line-height: 40px;
            font-size: 12px;
            width: 75%; }
            #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul li:first-child {
              width: 25%;
              border-right: 1px solid #6b9099; }
            #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul li:last-child {
              margin-left: 20px; }
      #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable:last-child .header {
        margin-top: 40px; }
      #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable:last-child .body ul:last-child {
        border-bottom: none; }

@media only screen and (max-width: 440px) {
  #ticketInfo {
    padding: 0; }
    #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul,
    #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul {
      padding: 0 15px; }
      #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul li h1,
      #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li h1 {
        font-size: 9px; }
      #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul li:nth-child(2)::before,
      #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li:nth-child(2)::before {
        display: none; }
    #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul,
    #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul {
      padding: 0 15px; }
      #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul li,
      #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul li {
        width: 40%;
        font-size: 10px; }
        #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul li:last-child,
        #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul li:last-child {
          width: 60%; }
    #ticketInfo .container-fluid .row .col-md-12 .priceAndButton,
    #ticketInfo .container-fluid .row .col-md-5 .priceAndButton {
      width: 100%;
      margin-bottom: 60px; }
      #ticketInfo .container-fluid .row .col-md-12 .priceAndButton h1,
      #ticketInfo .container-fluid .row .col-md-5 .priceAndButton h1 {
        font-size: 14px; }
      #ticketInfo .container-fluid .row .col-md-12 .priceAndButton a,
      #ticketInfo .container-fluid .row .col-md-5 .priceAndButton a {
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        margin-top: 40px; }
    #ticketInfo .container-fluid .row .col-md-5 .someInfo {
      margin: 0 auto;
      margin-top: 55px; }
      #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .header ul li {
        font-size: 14px; }
      #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul {
        padding: 0 15px; }
        #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul li:first-child {
          width: 40%; }
        #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul li:last-child {
          width: 60%; } }
@media only screen and (max-width: 767px) {
  #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul,
  #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul {
    padding: 0 15px; }
    #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul li h1,
    #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li h1 {
      font-size: 12px; }
    #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul li:nth-child(2)::before,
    #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li:nth-child(2)::before {
      display: none; }
  #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul,
  #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul {
    padding: 0 15px; }
    #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul li,
    #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul li {
      width: 40%;
      font-size: 12px; }
      #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul li:last-child,
      #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul li:last-child {
        width: 60%; } }
@media only screen and (min-width: 768px) and (max-width: 1457px) {
  #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul,
  #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul {
    padding: 0 30px; }
    #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul li h1,
    #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li h1 {
      font-size: 12px; }
  #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul,
  #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul {
    padding: 0 15px; }
    #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul li,
    #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul li {
      font-size: 12px; }
  #ticketInfo .container-fluid .row .col-md-12 .info .tableHead ul li h1,
  #ticketInfo .container-fluid .row .col-md-5 .info .tableHead ul li h1 {
    font-size: 8px; }
  #ticketInfo .container-fluid .row .col-md-12 .info .tableBody ul li,
  #ticketInfo .container-fluid .row .col-md-5 .info .tableBody ul li {
    font-size: 8px; }
  #ticketInfo .container-fluid .row .col-md-12 .priceAndButton,
  #ticketInfo .container-fluid .row .col-md-5 .priceAndButton {
    width: 100%; }
    #ticketInfo .container-fluid .row .col-md-12 .priceAndButton label,
    #ticketInfo .container-fluid .row .col-md-12 .priceAndButton span,
    #ticketInfo .container-fluid .row .col-md-5 .priceAndButton label,
    #ticketInfo .container-fluid .row .col-md-5 .priceAndButton span {
      font-size: 15px; }
    #ticketInfo .container-fluid .row .col-md-12 .priceAndButton .nearLabel,
    #ticketInfo .container-fluid .row .col-md-5 .priceAndButton .nearLabel {
      font-size: 15px;
      margin: 0;
      display: inline-block; }
  #ticketInfo .container-fluid .row .col-md-12 .someInfo .smallTable .body ul,
  #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul {
    padding: 0 15px; }
    #ticketInfo .container-fluid .row .col-md-12 .someInfo .smallTable .body ul li,
    #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul li {
      font-size: 8px; }
      #ticketInfo .container-fluid .row .col-md-12 .someInfo .smallTable .body ul li:first-child,
      #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul li:first-child {
        width: 40%; }
      #ticketInfo .container-fluid .row .col-md-12 .someInfo .smallTable .body ul li:last-child,
      #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul li:last-child {
        width: 60%; } }
@media only screen and (min-width: 1100px) and (max-width: 1457px) {
  #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul li h1,
  #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li h1 {
    font-size: 12px; }
  #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableBody ul li,
  #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableBody ul li {
    font-size: 12px; }
  #ticketInfo .container-fluid .row .col-md-12 .priceAndButton label,
  #ticketInfo .container-fluid .row .col-md-12 .priceAndButton span,
  #ticketInfo .container-fluid .row .col-md-5 .priceAndButton label,
  #ticketInfo .container-fluid .row .col-md-5 .priceAndButton span {
    font-size: 15px; }
  #ticketInfo .container-fluid .row .col-md-12 .someInfo .smallTable .body ul li,
  #ticketInfo .container-fluid .row .col-md-5 .someInfo .smallTable .body ul li {
    font-size: 12px; } }
@media only screen and (max-width: 1457px) {
  #ticketInfo .container-fluid .row .col-md-12 .ticketTable .tableHead ul li:nth-child(2)::before,
  #ticketInfo .container-fluid .row .col-md-5 .ticketTable .tableHead ul li:nth-child(2)::before {
    display: none; } }

/*# sourceMappingURL=ticketInfo.css.map */
